
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/solid.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/regular.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/fontawesome.css")
    link(rel="stylesheet" href="./recipes.css")
    title Shopping list generator
  body

    template#section-title
      h4.section-title
        span.badge.badge-dark.mr-2 {{ number }}
        | {{ title }}

    template#button-icon
      .button-icon.btn(
        :is="compTag"
        type="button"
        :class="compColor"
        :title="title"
        @click="doCallback()"
      )
        i(v-if="icon" :class="compIcon")
        span(v-if="text" :class="children > 1 ? 'ml-2' : ''") {{ text }}

    template#recipe-item
      li.list-group-item.list-group-item-action(
        v-show="query.length == 0 || recipe.recipeName.toLowerCase().includes(query)"
        :data-index="index"
        :class="{ selected: recipe.selected }"
      )
        i.mr-2.fas.fa-trash.text-danger(@click.stop="deleteRecipe(index)")
        i.mr-2.fas.fa-pen.text-warning(@click.stop="$emit('update')")
        i.fa-lg(
          :class="recipe.selected ? 'fas fa-check-square text-primary' : 'far fa-square'"
          v-on:click="toggleSelectedRecipe"
        )
        a.ml-2(
          target="_blank"
          :href="recipe.link.length > 0 ? recipe.link : false"
        ) {{ recipe.recipeName }}

    #app

      .container.py-3

        .row.justify-content-center
          h3.mb-4 Shopping list generator

        #step1.card.mb-4
          .card-header
            .col-md-4: section-title(number="1" title="Add recipes")
            .col-md-6.text-right
              // https://codepen.io/pieceofcode/pen/zldng
              .file-upload
                label.btn.btn-secondary.mb-0.file-upload__label(for="recipesFile") Load recipes list
                input#recipesFile.file-upload__input(type="file" name="files" @change="handleFileSelect")
              button-icon.dropdown-item(text="Backup recipes list" color="light" :cb="exportRecipes")
          .card-body.container: .row
            .col
              .row.form-group: .col
                input(type="hidden" v-model="editindex")
                input.form-control.form-control-lg(v-model="recipe.recipeName" placeholder="Recipe name")
                .input-group
                  input.form-control(v-model="recipe.link" placeholder="Link (optional)")
                  input.form-control(v-model="recipe.comment" placeholder="Comment (optional)")
              .row.form-group.align-items-start
                .input-group.col-md-3
                  input.form-control(type="number" v-model="ingredient.amount")
                  .input-group-append
                    button.btn.dropdown-toggle(data-toggle="dropdown") {{ ingredient.unit }}
                    .dropdown-menu
                      input(type="hidden" v-model="ingredient.unit")
                      .dropdown-item(v-for="(option) in units" @click="ingredient.unit = option") {{option}}
                .col
                  .row#new-ingredient
                    .col-md-2
                      .dropdown
                        button-icon.dropdown-toggle(data-toggle="dropdown" :text="ingForm == 'exist' ? 'Existing' : 'New'")
                        .dropdown-menu
                          input(type="hidden" v-model="ingForm" @change="clearIngredientName")
                          .dropdown-item(@click="ingForm = 'exist'") Existing
                          .dropdown-item(@click="ingForm = 'new'") New
                    .col
                      select.form-control(v-model="ingredient.name" v-if="ingForm == 'exist'" @change="updateIngredientTexts")
                        option(value="" data-department="") Choose existing...
                        optgroup(v-for="(ingredients, department) in ingredientList" :label="department")
                          option(v-for="(ingredient, name) in ingredients" :value="name" :data-department="department") {{name}}
                      div(v-if="ingForm == 'new'")
                        input.form-control(type="text" v-model="ingredient.name" @keydown.enter="addIngredient" placeholder="Ingredient name")
                        .row
                          .col
                            select.form-control(v-model="ingredient.department")
                              option(value="") Select department...
                              option(v-for="department in departmentList" :value="department") {{department}}
                          .col
                            input.form-control(type="text" v-model="ingredient.department" @keydown.enter="addIngredient" placeholder="... or add new")
                .col-md-1.text-right: button-icon(icon="plus" text="Add" color="primary" :cb="addIngredient")
              .row: .col-md-11.mx-auto
                  h5.my-2(v-show="recipe.ingredients.length > 0") Ingredients
                  ul#new-ingredients.fa-ul.ml-4.mb-3
                    li(v-for="(ing, index) in recipe.ingredients")
                      span.fa-li.text-danger: i.fas.fa-trash(@click="deleteIngredient(index)")
                      | {{ing.amount}}{{ing.unit}} {{ing.name}}
            .col-md-2.text-right
              button-icon.btn-lg.mb-2(
                :icon="editindex !== '' ? 'pen' : 'plus'"
                :text="editindex !== '' ? 'Update' : 'Add'"
                :color="editindex !== '' ? 'warning' : 'primary'"
                :cb="addRecipe"
              )
              button-icon(icon="redo" text="Reset" color="danger" :cb="clearRecipe")

        #step2.card.mb-4
          .card-header.container: .row
            .col-md-4: section-title(number="2" title="Select recipes")

            .col-md-6
              .input-group
                input.form-control(v-model="query" name="query" placeholder="Start typing to filter list")
                .input-group-append: button-icon(icon="times" color="danger" title="Clear search" :cb="clearQuery")
          #recipes-list.card-body.container.row.justify-content-center
            ul.list-group.list-group-flush.col-md-8
              recipe-item(v-for="(recipe, index) in recipes"
                :recipe="recipe"
                :recipes="recipes"
                :index="index"
                :query="query"
                @update="updateRecipe(index, recipe)"
                )

        #step3.card.d-none(v-if="selectedRecipes.length > 0")
          .card-header
            .col-md-4: section-title(number="3" title="Create shopping list")
          .card-body
            button-icon(
              icon="shopping-basket" text="Generate shopping list" color="primary"
              v-clipboard:copy="clipboardShoppingList"
              v-clipboard:success="onCopy"
              v-clipboard:error="onError"
            )
            button-icon(
              icon="clipboard-list" text="Preview selected recipes" color="primary"
              v-clipboard:copy="clipboardMenues"
              v-clipboard:success="onCopy"
              v-clipboard:error="onError"
            )

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js")
    script(src="https://cdn.jsdelivr.net/gh/zenorocha/clipboard.js@2.0.0/dist/clipboard.min.js")
    script(src="https://cdn.jsdelivr.net/gh/inndy/vue-clipboard2/dist/vue-clipboard.min.js")
    script(src="https://cdn.jsdelivr.net/gh/florian/xStore/src/xStore.min.js")
    script(src="https://cdn.jsdelivr.net/gh/graciano/mess/src/mess.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.bundle.min.js")
    script(src="https://rawgit.com/saribe/eModal/master/dist/eModal.min.js")
    script(src="./recipes.js")

